# Environments
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Datasets, Features, and Checkpoints
kth_videos/
ssv2_npy_sequences/
jepa_features/
*.csv
*.pt
*.npz

# Windows
desktop.ini
